$note-light: #d69c20;
$note-dark: #856114;
$dossier-light: #36b99d;
$dossier-dark: #1d6354;
$other-light: #adadad;
$other-dark: #4a4a4a;
.view {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
  .directions {
    max-width: 50%;
    min-width: 346px;
  }
  .svg {    
    width: 100%;
    margin-bottom: 10px;
    position:relative;
  }
}
#toggle {
  position: absolute;
  right:0;
}
svg {
  width: 100%;
  position: absolute;
  circle {
    cursor: pointer;
    stroke-width: 0.1;
    r: 0.5;
    fill: $other-light;
    stroke: $other-dark;
    &.dossier:hover, &.dossier.selected {
      fill: $dossier-light !important;
      stroke: $dossier-dark !important;
    }
    &.note:hover, &.note.selected {
      stroke: $note-dark !important;
      fill: $note-light !important;
    }
    &.selected {
      r: 0.75 !important;
    }
  }
  polyline {
    fill: none;
    stroke-width: 0.33;
    stroke-dasharray: 1;
    stroke: white;
    &.dashed {
      mix-blend-mode: exclusion;
      stroke-opacity: .5;
    }
    &.solid {
      stroke-dashoffset: 1;
      mix-blend-mode: overlay;
    }
  }
}
.note {
  background-color: $note-light;
  span {
    background-color: $note-dark;
  }
}
.dossier {
  background-color: $dossier-light;
  span {
    background-color: $dossier-dark;
  }
}
.heading {
  background-color: $other-light;
  span {
    background-color: $other-dark;
  }
}
.directions > div {
  div {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
  }
  span {
    padding: 0 5px;
    border-radius: 3px;
    color: white;
    margin-left: 5px;
  }
}